[build]
  command = "npm install && npm run build"
  functions = "netlify/functions"
  publish = "."

[build.environment]
  NODE_VERSION = "18"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["axios"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200